/* .card {
    width: 800px !important;
    height: 700px !important;
}

.summary-text {
    font-size: 17px;
} */

.title-text {
    margin-left: 15px !important;
    font-weight: 400 !important;
}

.comments-link {
    float: right !important;
}