.title-text {
  margin-left: 15px !important;
  font-weight: 400 !important;
}

.comments-link {
  float: right !important;
}

#sub-title {
  border-bottom: 3px solid black;
  margin-left: 55px;
}

.modal-title {
  border-bottom: 1px solid grey;
  padding: 7px;
  margin-bottom: 15px;
}

.open-notes {
  float: right;
}

.delete-button {
  float: right;
}

.link {
  color: #424242 !important;
}

.submit-button {
  margin: 15px 0;
}
