.title-text {
    margin-left: 15px !important;
    font-weight: 400 !important;
}

.comments-link {
    float: right !important;
}

#sub-title {
    border-bottom: 3px solid black;
    margin-left: 55px;
}

